<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIStory"
        tools:targetApi="31" >

        <!-- IntroActivity를 첫 화면으로 설정 -->
        <activity
            android:name=".IntroActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- HomeActivity는 여전히 사용되지만 첫 화면은 아님 -->
        <activity
            android:name=".HomeActivity"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".SignupActivity"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".MyPageActivity"></activity>
        <activity android:name=".LoginHomeActivity"></activity>
        <activity android:name=".PlotActivity"></activity>
        <activity android:name=".StoryActivity"></activity>
        <activity android:name=".PlotCreateActivity"></activity>
        <activity android:name=".InfoActivity" />
        <activity android:name=".ModifyUserActivity"></activity>
        <activity android:name=".MyBookActivity" />
        <activity android:name=".FinishedBookActivity" />






    </application>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
